@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */

}

h1 {

}

.navbar {
    background-color: lightgray;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 30px;
}

#new-project-button {
    font-family: inherit;
    border-radius: 0;
    cursor: pointer;
    padding: 0.4em 0.6em;
}

.popup-buttons {
    font-family: inherit;
    border-radius: 0;
    cursor: pointer;
    padding: 0.4em 0.6em;
}

.hidden {
    display: none;
}


.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

ul#projects {
    flex-grow: 1;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: flex-start;
    overflow-x: scroll;

}

li.project {
    border: 1px solid lightgray;
    background-color: white;
    padding: 1rem;
    flex: 0 0 400px;
}

div.title-button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

h2.project-title {
    padding-top: 2px;
    margin-right: auto;
}

.new-task-button {
    font-family: inherit;
    border-radius: 0;
    cursor: pointer;
    padding: 0.4em 0.8em;
    margin-right: 1rem;
}

.delete-proj-button {
    font-family: inherit;
    border-radius: 0;
    cursor: pointer;
    padding: 0.4em 0.8em;
}

.todos-list {
    list-style-type: none;
}



.title-prio-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2px;
    margin-bottom: 4px;
}

.done-check {
    margin-top: 1px;
    margin-right: 0.5rem;
}

.todo-text {
    font-family: inherit;
    flex-grow: 1;
    min-height: 1.1rem;
    line-height: 1.1;
    outline: none;
}

.remove-todo-button {
    display: none; /* remove todo button is invisible until user hovers over todo */
    border: 1px solid black;
    height: 15px;
    margin-top: 1px;
    flex: 0 0 15px;
    border-radius: 50%;
}

.title-prio-wrap:hover .remove-todo-button {
    display: inline-block;
    cursor: pointer;
}


.todo-info {
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.priority-indicator {
    background-color: orange;
    /* width: 15px; */
    height: 15px;
    border-radius: 50%;
    flex: 0 0 15px;
}



/* air date picker */

#calendar {
height: 100px;
}



body {
    
}