@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    background-color: white;
}

body {
    background: url("./images/unsplash-pink-wave-larger.jpg") center/cover no-repeat;
    backdrop-filter: blur(4px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

h1 {
    font-family: "Rubik";
    font-weight: 600;
    /* background: #a2e1eb;
    background: linear-gradient(90deg,rgba(162, 225, 235, 1) 7%, rgba(65, 49, 189, 1) 17%, rgba(191, 106, 252, 1) 29%, rgba(238, 136, 247, 1) 52%, rgba(255, 234, 171, 1) 74%, rgba(153, 235, 240, 1) 100%);
    background-clip: text;
    color: transparent; */
    font-size: 30px;
    margin-right: 50px;
}

.navbar {
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.129);
    height: 72px;
    min-width: 820px;
    background-color: white;
    margin: 1rem 0 0 1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    /* gap: 30px; */
}

.nav-button {
    height: 100%;
    width: 120px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-family: "Rubik";
    font-size: 16px;
    background-color: transparent;
    color: #575757;
    transition: ease-in 100ms;
}

.nav-button:hover {
    color: #000000;
}




#new-project-button {
    font-size: 14px;
    font-family: inherit;
    background-color: #f3f7fe;
    color: #4f64dc;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 110px;
    height: 40px;
    transition: 0.2s;
    margin-left: 30px;
}

#new-project-button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 4px #3b83f65f;
    color: #fff;
}

#project-name-input {
    background-color: rgb(237, 237, 237);
    border: none;
    outline: none;
    border-radius: 2px;
    height: 30px;
    width: 200px;
    color: #000000;
    font-size: 14px;
    padding-left: 12px;
    box-shadow: none;
}


.popup-buttons {
    background-color: rgb(237, 237, 237);
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.5em 0.9em;
}

.popup-buttons:hover {
    border-color: rgb(130, 130, 130);
}

.hidden {
    display: none;
}


.main-container {
    min-width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* padding: 1.5rem; */
}

ul#projects {
    padding: 1.2rem;
    flex-grow: 1;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: flex-start;
    overflow-x: scroll;

}

li.project {
    padding: 1.8rem 0;
    flex: 0 0 400px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.102);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.659);
    backdrop-filter: blur(5px);
}

.project:hover {
    /* outline: 1px solid lightblue; */
    box-shadow: 
        0px 2px 8px rgba(0, 0, 0, 0.13),
        0px 2px 5px rgba(0, 0, 0, 0.12);
}

div.title-button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1.6rem;
    margin-bottom: 1.5rem;
}

h2.project-title {
    padding-top: 2px;
    margin-right: auto;
}

.new-task-button {
    font-family: inherit;
    border-radius: 8px;
    border: 1px solid rgb(120, 120, 120);
    cursor: pointer;
    padding: 0.6em 0.9em;
    margin-right: 1rem;
    background: transparent;
    color: rgb(120, 120, 120);
}

.new-task-button:hover {
    background-color: rgba(255, 255, 255, 0.452);
    color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
}

.delete-proj-button {
    visibility: hidden;
    background-color: transparent;
    font-family: inherit;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;
    /* padding: 0.4em 0.8em; */
}

.delete-proj-button:hover {
    background-color: rgba(170, 170, 170, 0.375);

}

div.title-button-wrapper:hover .delete-proj-button {
    visibility: visible;
}

.todos-list {
    list-style-type: none;
}

.todo-item {
    gap: 2px;
    display: flex;
    flex-direction: column;
    margin: 1.4rem 0;
    padding: 0 1.8rem;
}

.check-text-wrap {
    display: flex;
    align-items: flex-start;
}



.done-check {
    height: 16px;
    width: 16px;
    margin-right: 6px;
    right: 6px;
    top: 1px;
}

.todo-text {
    font-family: inherit;
    font-size: 1rem;
    overflow-wrap: break-word;
    flex-grow: 1;
    max-width: 285px;
    min-height: 1.1rem;
    line-height: 1.3;
    outline: none;
    margin-right: auto;
    /* margin-top: -1px; */
}

.remove-todo-button {
    visibility: hidden; /* remove todo button is invisible until user hovers over todo */
    border: none;
    border-radius: 50%;
    height: 24px;
    flex: 0 0 24px;
    display: grid;
    bottom: 2px;
    left: 10px;
    margin-left: 6px;
    place-content: center;
    cursor: pointer;
    background-color: transparent;
}

.remove-todo-button:hover {
    background-color: rgba(255, 255, 255, 0.687);
}


.remove-todo-button:hover svg {
    fill: rgb(43, 43, 43);
}

.remove-todo-button svg {
    fill: rgb(80, 80, 80);
}

.todo-item:hover .remove-todo-button {
    visibility: visible;
}


.todo-info {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.due-date {
    font-weight: 400;
    font-size: 14px;
    color: #4f64dc;
}

.date-picker {
    vertical-align: top;
    height: 14px;
    line-height: 1.5;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    color: #4f64dc;
}



